doctype html
html
  head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/charts.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/charts.css')
  body
    block content
